{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <div class="container-fluid wholebody">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <!-- <img src="img/loginpage.jpg"> -->
        <center> <span class="goal">Let's enjoy shopping :) </span><hr></center>
      </div>
      <div class="col-md-6 col-xm-12" style="text-align: center;">
        <div class="row">
          <div class="col-md-8 col-xm-12 offset-md-2">
            <div class="loginform">
              <h5>Stay Connected With Grande</h5>
                <br>
                <span>{{ msg }}</span>
              <form action="register" method="post">
                  	{% csrf_token %}

                <div class="form-row">
                  <div class="col">

                    <input type="text" class="form-control" name="first_name" placeholder="First name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" name="last_name" placeholder="Last name">
                  </div>
                </div>
                  <br>
                <div class="form-group">
                  <input type="email"  pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required >
                </div>
                  <div class="form-group">
                  <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter Username" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password1"  placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password2"  placeholder="Confirm Password">
                </div>
               <!--  <label  class="checkbox">
                 <input type="checkbox" checked="checked" name="remember"> Remember me
               </label> -->
               <button class="loginbutton btn btn-primary" type="submit">Sign Up</button>
             </form>
             <div class="formbox">
               <p><a href="" data-toggle="modal" data-target="#exampleModal">Terms & Conditions</a> for clicking sign up</p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- Modal for Terms & Condition -->
     <div class="modal animate" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
          </div>
          <div class="modal-body">
            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for Terms & Condition End -->

    <!-- Modal for Forget password -->

    <div class="modal animate" id="forgetpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Password Recovery</h5>
          </div>
          <div class="modal-body">
           <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">You'll never share your email password with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Forget password  End-->


        <!-- Modal for Terms & Condition -->
     <div class="modal animate" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
          </div>
          <div class="modal-body">
            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for Terms & Condition End -->

</div>
  </div>

{% endblock %}

